body{
    text-align: center;
}
#app{
    background-color: aquamarine;
}
.line{
    background-color: black;
    height: 5px;
    width: 60px;
    margin: 8px auto;
}
#games{
    background-color: aquamarine;
}
#chatbot{
    background-color: aquamarine;
}
